@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 1200px;
  font-family: "Montserrat";
  background-image: url('/src/images/rajasekhar-r-aSdgU3Lmx48-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 20px 20px 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 40px;
}

.discription-container {
  background-color: black;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.order-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}

.pizza-price {
  font-size: 16px;
  color: yellow;
}

.order-btn {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.order-btn:hover {
  color: rgb(159, 158, 158);
  border: 1px solid rgb(159, 158, 158);
}

.pizza {
  display: flex;
  width: 30%;
  height: auto;
}

.pizza-img {
  width: 60%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.plug {
  width: 18px;
  height: 18px;
}

.cart-btn {
  position: absolute;
  right: 30%;
  width: 30px;
  height: auto;
}

.cart-btn:hover {
  cursor: pointer;
  color: yellow;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.pop-up__container {
  color: white;
  padding: 15px;
  padding-top: 20px;
  background-color: rgb(22, 22, 22);
}

.popup-content {
  width: 70% !important;
  background-color: rgb(22, 22, 22) !important;
  border: none !important;
}

.order_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
  grid-template-rows: repeat(2, auto);
}

.order_list__item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.order_img {
  width: 40%;
  margin-right: 10px;
}

.pop-up_title {
  text-transform: uppercase;
  text-align: center;
}

.pop-up_total {
  margin-top: 15px;
}

.pop-up_total__number {
  color: yellow;
}

.pop-up__header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pop-up__closing {
  position: absolute;
  right: 1%;
}

.pop-up__closing:hover  {
  cursor: pointer;
  color: yellow;
}

.order_discription {
  width: 60%;
}

.order_count_panel {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 10px 0;
}

.order_count_panel button {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 100%;
  color: white;
  text-align: center;
  line-height: 0;
  padding: 15px 13px;
}

.order_count_panel button:first-child {
  padding: 15px 12px;
}

.order_count_panel button:hover {
  cursor: pointer;
  color: yellow;
  border-color: yellow;
}

.order_header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.order__delete_btn:hover {
  cursor: pointer;
  color: yellow;
}

.pizza-description {
  font-size: 12px;
}

.pagination_panel {
  display: flex;
  list-style: none;
  gap: 10px;
  width: fit-content;
  margin: 20px auto;
}

.pagination_panel > li {
  background-color: black;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pagination_panel > li:hover {
  background-color: rgb(167, 167, 167);
  color: black;
}

.add_pizza__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin: 40px auto;
}

.add_pizza__form input {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px 10px;
  outline: none;
  width: 100%;
}

.add_pizza__form p {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

.add_pizza__form button {
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  background-color: rgb(60, 133, 64);
  color: white;
  transition: background-color 0.24s ease-in;
}

.add_pizza__form button:hover {
  cursor: pointer;
  background-color: rgb(50, 113, 54);
}

.css-1nmdiq5-menu {
  color: black;
}

.search_panel {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search_panel p {
  font-size: 20px;
  font-weight: 600;
}

.search_panel input {
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
}

.search_panel button {
  border: none;
  color: white;
  background-color: rgb(56, 157, 56);
  font-size: 16px;
  transition: background-color 0.24s ease-in-out;
  border-radius: 0 10px 10px 0;
  padding: 8px 10px;
}

.search_panel button:hover {
  cursor: pointer;
  background-color: rgb(36, 110, 36);
}

.error_message {
  text-align: center;
  margin-top: 15%;
  font-size: 32px;
}